* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #4ca1af, #c4e0e5);
  text-align: center;
}

h1 {
  margin-top: 30px;
  color: #ffffff;
  font-size: 3rem;
  text-shadow: 0 0 10px #00000050;
}


.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1.2rem;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}


.box:hover {
  background-color: #f1f1f1;
  transform: scale(1.05);
}

.box.o {
  color: #0077ff;
}

.box.x {
  color: #ff3b30;
}

.win {
  background-color: #00c896 !important;
  color: #fff !important;
  transform: scale(1.1);
}


#reset-btn,
#new-btn {
  padding: 1rem 2rem;
  font-size: 1.3rem;
  background-color: #222;
  color: #fff;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
}

#reset-btn:hover,
#new-btn:hover {
  background-color: #444;
}


#msg {
  color: #fff;
  font-size: 6vmin;
  font-weight: bold;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.hide {
  display: none;
}
